<!DOCTYPE html>
<form action="register" method="post">
    <label>Страница аутентификации.</label></p>

    <input size="28" name="login" placeholder="login"/>
    <input size="28" name="password" placeholder="password"/>

    <button type="submit" size="28">РЕГИСТРАЦИЯ</button>
</form>
</html>